################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hudl/obj
/Hudl/Class1.cs
/packages
/TestFramework/bin/Debug
/TestFramework/obj/Debug
/TestProject/bin/Debug
/TestProject/obj/Debug
/.vs/Hudl/v15
